<head><title>{kwp.txt}</title><meta name = "description" content = ""><meta name = "keywords" content = "Greensboro manicures,Greensboro nail studio,Greensboro nail care,Greensboro pedicures,Greensboro SNS Nails"><meta name = "author" content = ""></head><body><center><h2>{kwp.txt}</h2><br><strong>Looking to impress your friends with the newest in nail styles for Spring and Summer?<BR><BR></strong>

 
<h2><a href="https://goo.gl/zSRLfM">Greensboro SNS Nails</a></h2> <BR><BR>

<strong>At Kathy Nails you will be treated to the latest and the finest in style and quality.</center><BR><BR>

Come and experience our Greensboro manicure and pedicure services. Incorporate some indulgent add-ons like a paraffin soak to rise to another level of relaxation, comfort and style.<BR><BR>

Our hands and feet receive the greatest amount of "punishment" in our daily lives. They deserve some extra gentle care to keep them soft and supple. The manicures and pedicures we provide are specially designed to assist you in keeping them healthy and limber for dealing with all that occurs in your lives.<BR><BR>

Soft, supple, young looking hands are smooth and hydrated. We exfoliate your hands to make them soft.<BR><BR>

Let us pamper you with a <a href="https://goo.gl/YkzpFT">Greensboro manicure</a> or pedicure. After shaping, cuticle care, buffing and exfoliation, you will be treated to a moisturizing masque to help rehydrate your skin and a massage to improve circulation. Once all of this is complete, the process is wrapped up with your choice of polish. You will be so delighted with the end results.<BR><BR>
<center><iframe width="1280" height="720" src="https://www.youtube.com/embed/8TqNydk5vzw" frameborder="0" allow="autoplay; encrypted - media" allowfullscreen></iframe></center><br><br><br>
Following are the main benefits of manicure/ pedicure:<BR><BR>

* Manicure/ pedicure are wonderful ways to pamper you as it is a deeply relaxing beauty treatment<BR><BR>

* It helps in reducing aging of skin on hand/ feet<BR><BR>

* It helps reduce wrinkling of skin on hand/ feet<BR><BR>

* It helps stop many nail disorders like splits, scratches, fragile tips etc.<BR><BR>

* It helps give you naturally strong nails for hand hands<BR><BR>

* So combined effect is your hands and feet feel and looks beautiful<BR><BR>

You take your feet with you, everywhere you go. Isn't it time you gave them some TLC?  Come and relax in comfort at Kathy Nails and partake one of our luxury pedicures. Botanicals, scrubs, callus removal and massages to invigorate your feet are all part of the process. Sit back, unwind and indulge your hands and feet in a calming treatment that softens the skin, and restores and strengthens your nails.  
<a href="https://goo.gl/vb8BeK">Kathy Nails</a> even offers specialized treatments for men and young girls. Because we know that everyone could use some rejuvenating.<BR><BR>

In order for you to receive the best possible service, we invite you to get to know us-- to learn about us and our services and products.<BR><BR>

Our services are as unique and individual as you are. It's important that you know that you are special and your needs are of utmost importance to us. Put yourself in the hands of our expert Greensboro nail techs. They will transform you.<BR><BR>

The refresher service offers a soak, shaping of the nails and choice of color. Contact us at (336) 282-2022 for more information.<BR><BR>

Come and experience a luxurious custom-blend Greensboro manicure ritual that is designed to promote healthy nails with the use of products that make your nails strong, flexible and resilient-- just as nature intended.<BR><BR></strong>

<center><strong>For more info,contact us today at (336) 282-2022<BR><BR>Kathy Nails<BR>
3920 Battleground Ave.<BR>
Greensboro, NC 27410<BR>
(336) 282-2022<BR></strong></center><br><br><center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6443.900170746663!2d-79.869677416874!3d36.14342859387763!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xefe61b5f72d8a183!2sKathy+Nails!5e0!3m2!1sen!2sus!4v1520096898175" width="780" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center><p><a href="https://goo.gl/YkzpFT">Greensboro manicures</a><br> 
<a href="https://goo.gl/kiRUdP">Greensboro nail studio</a><br> 
<a href="https://goo.gl/8YGMLf">Greensboro nail care</a><br> 
<a href="https://goo.gl/vb8BeK">Greensboro pedicures</a><br> 
<a href="https://goo.gl/zSRLfM">Greensboro SNS Nails</a><br> 
</p><br></body><br></html>